openapi: 3.2.0
info:
  description: All Optilogic users can view the endpoint documentation below, upgrade to a paid account to gain access.
  version: 1.0.0
  title: 'Optilogic REST storage : templates API'
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: 'storage : templates'
  description: Get database template information
paths:
  /storages/db-templates:
    get:
      tags:
      - 'storage : templates'
      summary: Get a list of database template versions used to create a new database
      description: ''
      parameters:
      - name: id
        in: query
        description: Id of the baselineTemplate or templateSet group to retrieve.
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: Database schema to return templates from.
        required: false
        schema:
          type: string
          enum:
          - anura
          default: ''
      - name: schemaType
        in: query
        description: '''baselineTemplate'' or ''templateSet'''
        required: false
        schema:
          type: string
          enum:
          - baselineTemplate
          - templateSet
      - name: includeNonDefault
        in: query
        description: Include non-default templates.
        required: false
        schema:
          type: boolean
          enum:
          - false
          - true
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DBTemplates'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: getStoragesDbTemplates
      x-operation-id-source: derived
  /storages/db-template-sets:
    get:
      tags:
      - 'storage : templates'
      summary: Get a distinct list of database templates and release statuses associated with…
      description: 'A template set is an Optilogic database categorization. For example: Anura New Model, Global Supply Chain Strategy, Tactical Capacity Optimization, etc.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DBTemplateSets'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: getStoragesDbTemplateSets
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
    DBTemplates:
      type: object
      properties:
        result:
          type: string
          format: string
        count:
          type: integer
        templates:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              templateType:
                type: string
                enum:
                - baseline
                - templateSet
              pgTemplateName:
                type: string
              schema:
                type: string
                enum:
                - anura
              baselineSchemaVersion:
                type: string
                enum:
                - '1.0'
              templateSetId:
                type: number
              templateVersion:
                type: string
              description:
                type: string
              isDefault:
                type: boolean
                enum:
                - true
                - false
    DBTemplateSets:
      type: object
      properties:
        result:
          type: string
          format: string
        count:
          type: integer
        schemas:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              templateSets:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    shortDescription:
                      type: string
                    longDescription:
                      type: string
                    availableReleaseStatuses:
                      type: array
                      items:
                        type: string
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
