openapi: 3.2.0
info:
  description: All Optilogic users can view the endpoint documentation below, upgrade to a paid account to gain access.
  version: 1.0.0
  title: 'Optilogic REST storage : sharing API'
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: 'storage : sharing'
  description: Share, send, and clone databases
paths:
  /storage/{storageName}/reassign:
    post:
      tags:
      - 'storage : sharing'
      summary: Reassigns storage ownership to a specified user
      description: ''
      parameters:
      - name: storageName
        in: path
        description: Name of the storage device to be reassigned
        required: true
        schema:
          type: string
      - name: targetUser
        in: query
        description: Username or email address of the user who will be assigned ownership of the storage device
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
      security:
      - APIKeyHeader: []
      operationId: postStorageByStorageNameReassign
      x-operation-id-source: derived
  /storage/{storageName}/share:
    post:
      tags:
      - 'storage : sharing'
      summary: Sends a copy to a specified user
      description: ''
      parameters:
      - name: storageName
        in: path
        description: Name of the storage device to be shared
        required: true
        schema:
          type: string
      - name: targetUser
        in: query
        description: Username or email address of the user who will be assigned ownership of the storage device
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
      security:
      - APIKeyHeader: []
      operationId: postStorageByStorageNameShare
      x-operation-id-source: derived
  /storage/{storageName}/clone:
    post:
      tags:
      - 'storage : sharing'
      summary: Duplicates a storage
      description: ''
      parameters:
      - name: storageName
        in: path
        description: Name of the storage device to be duplicated
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
      security:
      - APIKeyHeader: []
      operationId: postStorageByStorageNameClone
      x-operation-id-source: derived
  /storage/{storageName}/share/access:
    post:
      tags:
      - 'storage : sharing'
      summary: Shares storage access to a specified user
      description: ''
      parameters:
      - name: storageName
        in: path
        description: Name of the storage device to be shared
        required: true
        schema:
          type: string
      - name: targetUser
        in: query
        description: Username or email address of the user who will be assigned ownership of the storage device
        required: true
        schema:
          type: string
      - name: access
        in: query
        description: To govern read only access. Only 'readonly' will define read only share, anything else will give trusted access, including omitting the parameter.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
      security:
      - APIKeyHeader: []
      operationId: postStorageByStorageNameShareAccess
      x-operation-id-source: derived
    delete:
      tags:
      - 'storage : sharing'
      summary: Removed shared storage access from a specified user
      description: ''
      parameters:
      - name: storageName
        in: path
        description: Name of the storage device to have access removed
        required: true
        schema:
          type: string
      - name: targetUser
        in: query
        description: Username or email address of the user who will be assigned ownership of the storage device
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    format: string
                  error:
                    type: string
                    format: string
                  correlationId:
                    type: string
                    format: uuid
      security:
      - APIKeyHeader: []
      operationId: deleteStorageByStorageNameShareAccess
      x-operation-id-source: derived
components:
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
