openapi: 3.2.0
info:
  description: All Optilogic users can view the endpoint documentation below, upgrade to a paid account to gain access.
  version: 1.0.0
  title: Optilogic REST Job API
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: Job
  description: Get information about Andromeda jobs
paths:
  /job/db-data-export/list:
    get:
      tags:
      - Job
      summary: List DB Data Export jobs
      description: ''
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbDataExportJobList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: getJobDbDataExportList
      x-operation-id-source: derived
  /job/db-data-export/{jobKey}:
    get:
      tags:
      - Job
      summary: Get job information for a DB Data Export job
      description: ''
      parameters:
      - name: jobKey
        in: path
        description: Key of target job
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbDataExportJob'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: getJobDbDataExportByJobKey
      x-operation-id-source: derived
components:
  schemas:
    DbDataExportJob:
      type: object
      properties:
        result:
          type: string
          format: string
        jobKey:
          type: string
          format: uuid
        submittedDatetime:
          type: string
          format: date-time
        startDatetime:
          type: string
          format: date-time
        endDatetime:
          type: string
          format: date-time
        runTime:
          type: string
          format: timespan
        status:
          type: string
          format: string
        phase:
          type: string
          format: string
        jobInfo:
          $ref: '#/components/schemas/DbDataExportJobDetailsInfo'
    DbDataExportJobList:
      type: object
      properties:
        result:
          type: string
          format: string
        count:
          type: integer
          format: int64
        statusCounts:
          $ref: '#/components/schemas/JobStatusCounts'
        jobs:
          type: array
          items:
            $ref: '#/components/schemas/DbDataExportJob'
    Error:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
    Forbidden:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        message:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
    JobStatusCounts:
      type: object
      properties:
        submitted:
          type: integer
          format: int64
        starting:
          type: integer
          format: int64
        started:
          type: integer
          format: int64
        running:
          type: integer
          format: int64
        done:
          type: integer
          format: int64
        stopping:
          type: integer
          format: int64
        stopped:
          type: integer
          format: int64
        canceling:
          type: integer
          format: int64
        cancelled:
          type: integer
          format: int64
        error:
          type: integer
          format: int64
    DbDataExportJobDetailsInfo:
      type: object
      properties:
        storageId:
          type: string
          format: string
        storageRequest:
          type: string
          format: string
        sourceSchema:
          type: string
          format: string
        sourceGroup:
          type: string
          format: string
        sourceQuery:
          type: string
          format: string
        format:
          type: string
          format: string
        fileIDs:
          type: array
          items:
            type: string
        downloadURLs:
          type: array
          items:
            type: string
        resourceConfig:
          $ref: '#/components/schemas/JobDetailsResourceConfig'
    JobDetailsResourceConfig:
      type: object
      properties:
        name:
          type: string
          format: string
        cpu:
          type: string
          format: string
        ram:
          type: string
          format: string
        run_rate:
          type: integer
          format: int64
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
