openapi: 3.2.0
info:
  description: "All Optilogic users can view the endpoint documentation below, <a href='https://optilogic.app/#/user-account?tab=pricing'>upgrade to a paid account</a> to gain access.<br /><br />Once you have api access, use the `refreshApiKey` endpoint with your account login information or use the `Quick Start` form below to get started.\n### Installing Additional Python Packages <a id=\"installing-additional-python-packages\"></a>\nWhen a job is run - such as when using the **Job POST** endpoint - the system will check the directoryPath specified in the POST call for a file named `requirements.txt`. If the file exists, then the system will attempt to install all packages specified by running `pip install -r requirements.txt` before running the file specified in the filePath parameter.\n### Accessing your Files <a id=\"accessing-your-files\"></a>\nYour files are stored in the */projects* directory of the workspace. Files saved in this directory are available to your *Atlas* workspace and to REST API endpoints.\nAll directory paths passed as a *directoryPath*, *sourceDirectoryPath*, or *targetDirectoryPath* parameter are relative to the */projects* directory.\nThis means you must **not** include */projects* as part of the path string.\n\nExample:\n  - directoryPath = \"pyomo-examples/models/diet-problem\"\n  - filePath = \"diet-problem.py\"\n\nExample:\n  - directoryPath = \".\"\n  - filePath = \"my-model.py\"\n\n<br>\n\n## Example Application <a id=\"example-app\"></a>\n\n<a target=\"_blank\" href=\"https://optilogic.github.io/optiapp-web-demo/\">OptiJS Demo</a>\n\nThis demo application uses the OptiJS client library to run and monitor jobs from Python modules on a users' account. Custom applications can be quickly created on top of the Optilogic API using the <a target=\"_blank\" href=\"https://cdn.optilogic.app/web/optijs/api.js\">OptiJS</a> and <a target=\"_blank\" href=\"https://pypi.org/project/optilogic\">OptiPy</a> client libraries.\n\n\n<br>\n"
  version: 1.0.0
  title: 'Optilogic REST storage : templates API'
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: 'storage : templates'
  description: Get database template information
paths:
  /storages/db-templates:
    get:
      tags:
      - 'storage : templates'
      summary: Get a list of database template versions used to create a new database.
      description: ''
      parameters:
      - name: id
        in: query
        description: Id of the baselineTemplate or templateSet group to retrieve.
        required: false
        schema:
          type: string
      - name: schema
        in: query
        description: Database schema to return templates from.
        required: false
        schema:
          type: string
          enum:
          - anura
          default: ''
      - name: schemaType
        in: query
        description: '''baselineTemplate'' or ''templateSet'''
        required: false
        schema:
          type: string
          enum:
          - baselineTemplate
          - templateSet
      - name: includeNonDefault
        in: query
        description: Include non-default templates.
        required: false
        schema:
          type: boolean
          enum:
          - false
          - true
          default: false
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DBTemplates'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
  /storages/db-template-sets:
    get:
      tags:
      - 'storage : templates'
      summary: Get a distinct list of database templates and release statuses associated with each one.
      description: 'A template set is an Optilogic database categorization.  For example: Anura New Model, Global Supply Chain Strategy, Tactical Capacity Optimization, etc.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DBTemplateSets'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
components:
  schemas:
    DBTemplateSets:
      type: object
      properties:
        result:
          type: string
          format: string
        count:
          type: integer
        schemas:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
              templateSets:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                    name:
                      type: string
                    shortDescription:
                      type: string
                    longDescription:
                      type: string
                    availableReleaseStatuses:
                      type: array
                      items:
                        type: string
    DBTemplates:
      type: object
      properties:
        result:
          type: string
          format: string
        count:
          type: integer
        templates:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              name:
                type: string
              templateType:
                type: string
                enum:
                - baseline
                - templateSet
              pgTemplateName:
                type: string
              schema:
                type: string
                enum:
                - anura
              baselineSchemaVersion:
                type: string
                enum:
                - '1.0'
              templateSetId:
                type: number
              templateVersion:
                type: string
              description:
                type: string
              isDefault:
                type: boolean
                enum:
                - true
                - false
    Error:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
