openapi: 3.2.0
info:
  description: All Optilogic users can view the endpoint documentation below, upgrade to a paid account to gain access.
  version: 1.0.0
  title: Optilogic REST Authentication API
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: Authentication
  description: Get authentication keys and client credentials
paths:
  /refreshApiKey:
    post:
      tags:
      - Authentication
      summary: Create a new API key
      description: 'Creates and returns a new API key. The users `username` and `password`, or a ''refresh key'' must be passed in using headers. This api key will only be visible once at the time of creation.


        This API key will need to be refreshed at least every 1 hour to remain authenticated'
      parameters:
      - in: header
        name: X-USER-ID
        description: User id
        required: false
        schema:
          type: string
      - in: header
        name: X-USER-PASSWORD
        description: User password
        required: false
        schema:
          type: string
          format: password
      - in: header
        name: X-REFRESH-KEY
        description: Refresh key previously obtained with this same endpoint
        required: false
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshedApiKey'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      operationId: postRefreshApiKey
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
    RefreshedApiKey:
      type: object
      properties:
        result:
          type: string
          format: string
          example: success
        apiKey:
          type: string
          format: string
          description: The new api key for this user.
        refreshKey:
          type: string
          format: string
          description: The refresh key for this api key.
        expirationTime:
          type: integer
          format: int64
        expiresIn:
          type: integer
          format: int64
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
