openapi: 3.2.0
info:
  description: All Optilogic users can view the endpoint documentation below, upgrade to a paid account to gain access.
  version: 1.0.0
  title: 'Optilogic REST storage : tags API'
  contact:
    name: Optilogic Support
    email: support@optilogic.com
servers:
- url: https://api.optilogic.app/v0
tags:
- name: 'storage : tags'
  description: Manage custom tags on a storage record
paths:
  /storage/{storageName}/tags:
    delete:
      tags:
      - 'storage : tags'
      summary: Remove tags
      parameters:
      - name: storageName
        in: path
        required: true
        schema:
          type: string
      - name: tags
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  tags:
                    type: string
                    example: tag1,tag2,tag3
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: deleteStorageByStorageNameTags
      x-operation-id-source: derived
    get:
      tags:
      - 'storage : tags'
      summary: Get tags
      parameters:
      - name: storageName
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Tags retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  tags:
                    type: string
                    example: tag1,tag2,tag3
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: getStorageByStorageNameTags
      x-operation-id-source: derived
    post:
      tags:
      - 'storage : tags'
      summary: Add tags
      parameters:
      - name: storageName
        in: path
        required: true
        schema:
          type: string
      - name: tags
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  tags:
                    type: string
                    example: tag1,tag2,tag3
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: postStorageByStorageNameTags
      x-operation-id-source: derived
    put:
      tags:
      - 'storage : tags'
      summary: Replace tags
      parameters:
      - name: storageName
        in: path
        required: true
        schema:
          type: string
      - name: tags
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
                    example: success
                  tags:
                    type: string
                    example: tag1,tag2,tag3
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Forbidden'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
      - APIKeyHeader: []
      operationId: putStorageByStorageNameTags
      x-operation-id-source: derived
components:
  schemas:
    Error:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
    Forbidden:
      type: object
      properties:
        result:
          type: string
          format: string
        error:
          type: string
          format: string
        message:
          type: string
          format: string
        correlationId:
          type: string
          format: uuid
  securitySchemes:
    APIKeyHeader:
      type: apiKey
      in: header
      name: X-API-KEY
externalDocs:
  description: Find out more about Optilogic
  url: https://optilogic.com
