{
  "swagger": "2.0",
  "info": {
    "description": "All Optilogic users can view the endpoint documentation below, <a href='https://optilogic.app/#/user-account?tab=pricing'>upgrade to a paid account</a> to gain access.<br /><br />Once you have api access, use the `refreshApiKey` endpoint with your account login information or use the `Quick Start` form below to get started.\n### Installing Additional Python Packages <a id=\"installing-additional-python-packages\"></a>\nWhen a job is run - such as when using the **Job POST** endpoint - the system will check the directoryPath specified in the POST call for a file named `requirements.txt`. If the file exists, then the system will attempt to install all packages specified by running `pip install -r requirements.txt` before running the file specified in the filePath parameter.\n### Accessing your Files <a id=\"accessing-your-files\"></a>\nYour files are stored in the */projects* directory of the workspace. Files saved in this directory are available to your *Atlas* workspace and to REST API endpoints.\nAll directory paths passed as a *directoryPath*, *sourceDirectoryPath*, or *targetDirectoryPath* parameter are relative to the */projects* directory.\nThis means you must **not** include */projects* as part of the path string.\n\nExample:\n  - directoryPath = \"pyomo-examples/models/diet-problem\"\n  - filePath = \"diet-problem.py\"\n\nExample:\n  - directoryPath = \".\"\n  - filePath = \"my-model.py\"\n\n<br>\n\n## Example Application <a id=\"example-app\"></a>\n\n<a target=\"_blank\" href=\"https://optilogic.github.io/optiapp-web-demo/\">OptiJS Demo</a>\n\nThis demo application uses the OptiJS client library to run and monitor jobs from Python modules on a users' account. Custom applications can be quickly created on top of the Optilogic API using the <a target=\"_blank\" href=\"https://cdn.optilogic.app/web/optijs/api.js\">OptiJS</a> and <a target=\"_blank\" href=\"https://pypi.org/project/optilogic\">OptiPy</a> client libraries.\n\n\n<br>\n",
    "version": "1.0.0",
    "title": "Optilogic REST API",
    "contact": {
      "name": "Optilogic Support",
      "email": "support@optilogic.com"
    }
  },
  "externalDocs": {
    "description": "Find out more about Optilogic",
    "url": "https://optilogic.com"
  },
  "host": "api.optilogic.app",
  "basePath": "/v0",
  "tags": [
    {
      "name": "authentication",
      "description": "Get authentication keys and client credentials"
    },
    {
      "name": "storage",
      "description": "Get storage information"
    },
    {
      "name": "storage : sharing",
      "description": "Share, send, and clone databases"
    },
    {
      "name": "storage : templates",
      "description": "Get database template information"
    },
    {
      "name": "storage : tags",
      "description": "Manage custom tags on a storage record"
    },
    {
      "name": "storage : labels",
      "description": "Manage custom key/value attributes on a storage record"
    },
    {
      "name": "storage : custom columns",
      "description": "Manage database custom columns"
    },
    {
      "name": "storage : custom tables",
      "description": "Manage database custom tables"
    },
    {
      "name": "utility",
      "description": "A library of tools that solve specific problems"
    },
    {
      "name": "workspace",
      "description": "Get information about a workspace, including job and file information"
    },
    {
      "name": "job",
      "description": "Get information about Andromeda jobs"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/refreshApiKey": {
      "post": {
        "tags": [
          "authentication"
        ],
        "summary": "Create a new API key",
        "description": "Creates and returns a new API key. The users `username` and `password`, or a 'refresh key' must be passed in using headers. This api key will only be visible once at the time of creation.<br /><br />This API key will need to be refreshed at least every 1 hour to remain authenticated",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "X-USER-ID",
            "description": "User id",
            "required": false,
            "type": "string"
          },
          {
            "in": "header",
            "name": "X-USER-PASSWORD",
            "description": "User password",
            "required": false,
            "type": "string",
            "format": "password"
          },
          {
            "in": "header",
            "name": "X-REFRESH-KEY",
            "description": "Refresh key previously obtained with this same endpoint",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RefreshedApiKey"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get a list of available workspaces in an account",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/WorkspaceList"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get information about a workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace name to get information",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Workspace"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobs": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "List the jobs for a specific workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace to list jobs from",
            "required": true,
            "type": "string"
          },
          {
            "name": "command",
            "in": "query",
            "description": "Filter by command property",
            "required": false,
            "type": "string"
          },
          {
            "name": "history",
            "in": "query",
            "description": "Filter by submitted property. Number of days or 'All'. Default is 7.",
            "required": false,
            "type": "string"
          },
          {
            "name": "runSecsMax",
            "in": "query",
            "description": "Filter by runTime property. Maximum seconds (list only where runTime is less than)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "runSecsMin",
            "in": "query",
            "description": "Filter by runTime property. Minimum seconds (list only where runTime is greater than)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status property",
            "required": false,
            "type": "string",
            "enum": [
              "submitted",
              "starting",
              "started",
              "running",
              "canceling",
              "done",
              "stopping",
              "stopped",
              "cancelled",
              "error"
            ]
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags property",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobList"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobs/stats": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get the stats only for jobs for a specific workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace to list jobs from",
            "required": true,
            "type": "string"
          },
          {
            "name": "command",
            "in": "query",
            "description": "Filter by command property",
            "required": false,
            "type": "string"
          },
          {
            "name": "history",
            "in": "query",
            "description": "Filter by submitted property. Number of days or 'All'. Default is 7.",
            "required": false,
            "type": "string"
          },
          {
            "name": "runSecsMax",
            "in": "query",
            "description": "Filter by runTime property. Maximum seconds (list only where runTime is less than)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "runSecsMin",
            "in": "query",
            "description": "Filter by runTime property. Minimum seconds (list only where runTime is greater than)",
            "required": false,
            "type": "integer"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by status property",
            "required": false,
            "type": "enum",
            "enum": [
              "submitted\"",
              "starting",
              "started",
              "running",
              "canceling",
              "done",
              "stopping",
              "stopped",
              "cancelled",
              "error"
            ]
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Filter by tags property",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobListStats"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/job": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Queue a job",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace to run a job from",
            "required": true,
            "type": "string"
          },
          {
            "name": "directoryPath",
            "in": "query",
            "description": "Path to folder/directory (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "query",
            "description": "Name of the file to run",
            "required": true,
            "type": "string"
          },
          {
            "name": "command",
            "in": "query",
            "description": "Modify job behavior to use one of Optilogic's Applied Research tools",
            "required": false,
            "type": "string",
            "enum": [
              "run",
              "presolve",
              "run_model"
            ],
            "default": "run"
          },
          {
            "name": "commandArgs",
            "in": "query",
            "description": "Additional arguments for the selected command\n\n*Note*: This string is included as provided. Directory and file paths (if any) are **not** inherently relative to */projects* as discussed in [Accessing your Files](#accessing-your-files)\n\n*Example*: \"/tmp/some_file.txt --verbose\"\n",
            "required": false,
            "type": "string"
          },
          {
            "name": "resourceConfig",
            "in": "query",
            "description": "Resource configuration (cpu and ram) used to run a job",
            "required": false,
            "type": "string",
            "enum": [
              "mini",
              "4XS",
              "3XS",
              "2XS",
              "XS",
              "S",
              "M",
              "L",
              "XL",
              "2XL",
              "3XL",
              "4XL"
            ],
            "default": "3XS"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags for the job.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Maximum job runtime in seconds. The job will be canceled if it runs past this value.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobPost"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/job/{jobKey}": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get job information",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace where the job is running",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          },
          {
            "name": "op",
            "in": "query",
            "description": "Operation - 'status' gets the job status, 'log' downloads a zip file with job info, results, and errors, 'result' downloads the job's result file, 'error' downloads the job's error file",
            "required": false,
            "type": "string",
            "enum": [
              "status",
              "log",
              "result",
              "error"
            ],
            "default": "status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/Job"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "workspace"
        ],
        "summary": "Stop a queued or running job",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace where the job is running",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobDelete"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobBatch/jobify": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Queue a list of jobs",
        "description": "Allows you to queue jobs from a list of python modules.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace that contains your python modules.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceConfig",
            "in": "query",
            "description": "Resource configuration (cpu and ram) used for any jobs that will be queued.",
            "required": false,
            "type": "string",
            "enum": [
              "mini",
              "4XS",
              "3XS",
              "2XS",
              "XS",
              "S",
              "M",
              "L",
              "XL",
              "2XL",
              "3XL",
              "4XL"
            ],
            "default": "3XS"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags for the jobs that will queued.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Sequential list of python modules to be queued",
            "schema": {
              "type": "object",
              "properties": {
                "batchItems": {
                  "type": "array",
                  "example": [
                    {
                      "pyModulePath": "/projects/My Files/Advanced Model Template/Advanced Model Template_gurobi.py"
                    },
                    {
                      "pyModulePath": "/projects/Model Library/MIP Optimization/cutting_sheet_metal/cutting_sheet_metal.py",
                      "commandArgs": "arg1 arg2",
                      "timeout": 300
                    }
                  ],
                  "items": {
                    "type": "object",
                    "properties": {
                      "pyModulePath": {
                        "description": "The path to the python module that will be run.",
                        "type": "string",
                        "required": true
                      },
                      "commandArgs": {
                        "description": "Arguments to send to the python module.",
                        "type": "string",
                        "required": false
                      },
                      "timeout": {
                        "description": "Maximum job runtime in seconds. The job will be canceled if it runs past this value.",
                        "type": "integer",
                        "required": false
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobifyPost"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobBatch/jobify/searchNRun": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Queue a list of jobs from a list of search terms",
        "description": "Allows you to send a list of search terms and queue all matching python modules as jobs.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace that contains your python modules.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceConfig",
            "in": "query",
            "description": "Resource configuration (cpu and ram) used for any jobs that will be queued.",
            "required": false,
            "type": "string",
            "enum": [
              "mini",
              "4XS",
              "3XS",
              "2XS",
              "XS",
              "S",
              "M",
              "L",
              "XL",
              "2XL",
              "3XL",
              "4XL"
            ],
            "default": "3XS"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags for the jobs that will queued.",
            "required": false,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Sequential list of search items. Matches will be queued as new jobs.",
            "schema": {
              "type": "object",
              "properties": {
                "batchItems": {
                  "type": "array",
                  "example": [
                    {
                      "pySearchTerm": "Transportation",
                      "commandArgs": "-hours 48"
                    },
                    {
                      "pySearchTerm": "MIP Optimization/flow_shop_scheduling",
                      "timeout": 300
                    }
                  ],
                  "items": {
                    "type": "object",
                    "properties": {
                      "pySearchTerm": {
                        "description": "Search term that allows us to find the right python modules.",
                        "type": "string",
                        "required": true
                      },
                      "commandArgs": {
                        "description": "Arguments to send to the matching python modules.",
                        "type": "string",
                        "required": false
                      },
                      "timeout": {
                        "description": "Maximum job runtime in seconds. All matches will be canceled if they run past this value.",
                        "type": "integer",
                        "required": false
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobifyPost"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobBatch/backToBack": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Run a list of python modules",
        "description": "Run a list of python modules, as a single job, back to back, one after another.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace that contains your python modules.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceConfig",
            "in": "query",
            "description": "Resource configuration (cpu and ram) used to run this job.",
            "required": false,
            "type": "string",
            "enum": [
              "mini",
              "4XS",
              "3XS",
              "2XS",
              "XS",
              "S",
              "M",
              "L",
              "XL",
              "2XL",
              "3XL",
              "4XL"
            ],
            "default": "3XS"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags for this job.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Maximum job runtime in seconds. The job will be canceled if it runs past this value.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "verboseOutput",
            "in": "query",
            "description": "When enabled, adds descriptive information to the output.",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "List of python modules. They will be run sequentially, in this order.",
            "schema": {
              "type": "object",
              "properties": {
                "batchItems": {
                  "type": "array",
                  "example": [
                    {
                      "pyModulePath": "/projects/My Files/Advanced Model Template/Advanced Model Template_gurobi.py"
                    },
                    {
                      "pyModulePath": "/projects/Model Library/MIP Optimization/cutting_sheet_metal/cutting_sheet_metal.py",
                      "commandArgs": "arg1 arg2",
                      "timeout": 300
                    }
                  ],
                  "items": {
                    "type": "object",
                    "properties": {
                      "pyModulePath": {
                        "description": "The python module to run. The full path is required.",
                        "type": "string",
                        "required": true
                      },
                      "commandArgs": {
                        "description": "Arguments to send to the python module.",
                        "type": "string",
                        "required": false
                      },
                      "timeout": {
                        "description": "Maximum job runtime in seconds for this python module.",
                        "type": "integer",
                        "required": false
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchPost"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/jobBatch/backToBack/searchNRun": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Run a list of matching python modules.",
        "description": "Allows you to send a list, of search terms, and run all matching python modules, back to back in one job.",
        "produces": [
          "application/json"
        ],
        "consumes": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace that contains your python modules.",
            "required": true,
            "type": "string"
          },
          {
            "name": "resourceConfig",
            "in": "query",
            "description": "Resource configuration (cpu and ram) used for this job.",
            "required": false,
            "type": "string",
            "enum": [
              "mini",
              "4XS",
              "3XS",
              "2XS",
              "XS",
              "S",
              "M",
              "L",
              "XL",
              "2XL",
              "3XL",
              "4XL"
            ],
            "default": "3XS"
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Comma-separated list of tags for this job.",
            "required": false,
            "type": "string"
          },
          {
            "name": "timeout",
            "in": "query",
            "description": "Maximum job runtime in seconds. The job will be canceled if it runs past this value.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "verboseOutput",
            "in": "query",
            "description": "When enabled, adds descriptive information to the output.",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "description": "Sequential list of search items. All matching python modules will be run before we look at the next search item.",
            "schema": {
              "type": "object",
              "properties": {
                "batchItems": {
                  "type": "array",
                  "example": [
                    {
                      "pySearchTerm": "Transportation",
                      "commandArgs": "-hours 48"
                    },
                    {
                      "pySearchTerm": "MIP Optimization/flow_shop_scheduling",
                      "timeout": 300
                    }
                  ],
                  "items": {
                    "type": "object",
                    "properties": {
                      "pySearchTerm": {
                        "description": "Search term that allows us to find the right python modules.",
                        "type": "string",
                        "required": true
                      },
                      "commandArgs": {
                        "description": "Arguments to send to the matching python modules.",
                        "type": "string",
                        "required": false
                      },
                      "timeout": {
                        "description": "Maximum runtime in seconds. A match will be canceled if it runs past this value.",
                        "type": "integer",
                        "required": false
                      }
                    }
                  }
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BatchPost"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/files": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "List all user files in the workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace to list files from",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Search term to filter results",
            "required": false,
            "type": "string"
          },
          {
            "name": "maxDepth",
            "in": "query",
            "description": "Limit how many directories deep the search will iterate",
            "required": false,
            "type": "integer"
          },
          {
            "name": "baseDir",
            "in": "query",
            "description": "Optional starting directory to list files from",
            "required": false,
            "type": "string"
          },
          {
            "name": "includeDir",
            "in": "query",
            "description": "If true the response will include an array of all directory paths encountered",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/FileList"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/job/{jobKey}/ledger": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get records from the specified job's ledger",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace where the job was ran",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          },
          {
            "name": "keys",
            "in": "query",
            "description": "Comma-separated string - Limits records to those whose key appears in the list. No value will return all records",
            "required": false,
            "type": "string",
            "default": ""
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limit how many records will be returned",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobLedger"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/job/{jobKey}/metrics": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get metrics gathered while the job was running",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace where the job was ran",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobMetrics"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/job/{jobKey}/metrics/stats": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get a roll-up of metric statistics gathered while the job was running",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Name of the workspace where the job was ran",
            "required": true,
            "type": "string"
          },
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/JobMetricsStats"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/file/copy": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Copy a file within a workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace in which the file will be copied",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceDirectoryPath",
            "in": "query",
            "description": "Path to the source file (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFilename",
            "in": "query",
            "description": "Name of the source file in the workspace",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetDirectoryPath",
            "in": "query",
            "description": "Desired path of the new file in the workspace (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetFilename",
            "in": "query",
            "description": "Desired name of the new file in the workspace",
            "required": true,
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrite existing file if there is one",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/CopyFile"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorFileCopy"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorFileCopy"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorFileCopy"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "412": {
            "description": "File Already Exists",
            "schema": {
              "$ref": "#/definitions/ErrorFileCopy"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/file/share": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Share a file with other users",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace from which to share",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceDirectoryPath",
            "in": "query",
            "description": "Path to the source file (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceFilename",
            "in": "query",
            "description": "Name of the source file in the workspace",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetUsers",
            "in": "query",
            "description": "Comma-delimited list of users to share to (usernames or emails)",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/FileShare"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorFileShare"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorFileShare"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorFileShare"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/file/{directoryPath}/{filename}": {
      "get": {
        "tags": [
          "workspace"
        ],
        "summary": "Get a file from a specific workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace where the file exists",
            "required": true,
            "type": "string"
          },
          {
            "name": "directoryPath",
            "in": "path",
            "description": "Path to the file (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Name of the file",
            "required": true,
            "type": "string"
          },
          {
            "name": "op",
            "in": "query",
            "description": "Operation - 'download' downloads the file, 'status' gets the file info and status",
            "required": false,
            "type": "string",
            "enum": [
              "status",
              "download"
            ],
            "default": "status"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/File"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Upload a file to a workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "content-type",
            "in": "header",
            "description": "Only 'application/octet-stream' is supported",
            "required": true,
            "type": "string"
          },
          {
            "name": "content-length",
            "in": "header",
            "description": "Size of the file being uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace where the file will be uploaded",
            "required": true,
            "type": "string"
          },
          {
            "name": "directoryPath",
            "in": "path",
            "description": "Path to the file destination (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Desired name of the file in the workspace",
            "required": true,
            "type": "string"
          },
          {
            "name": "overwrite",
            "in": "query",
            "description": "Overwrite existing file if there is one",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/UploadFile"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "412": {
            "description": "File already exists",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "workspace"
        ],
        "summary": "Delete a specific file from a workspace",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace where the file exists",
            "required": true,
            "type": "string"
          },
          {
            "name": "directoryPath",
            "in": "path",
            "description": "Path to the file (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "filename",
            "in": "path",
            "description": "Name of the file",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/FileDelete"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource not found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/folder/share": {
      "post": {
        "tags": [
          "workspace"
        ],
        "summary": "Share a folder with other users",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "workspace",
            "in": "path",
            "description": "Workspace from which to share",
            "required": true,
            "type": "string"
          },
          {
            "name": "sourceDirectoryPath",
            "in": "query",
            "description": "Path to the source directory (see [Accessing your Files](#accessing-your-files))",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetUsers",
            "in": "query",
            "description": "Comma-delimited list of users to share to (usernames or emails)",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeHidden",
            "in": "query",
            "description": "Include hidden files contained in the folder",
            "required": false,
            "type": "boolean",
            "enum": [
              false,
              true
            ],
            "default": false
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/FolderShare"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorFolderShare"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/ErrorFolderShare"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/ErrorFolderShare"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/{workspace}/folder/{directoryPath}": null,
    "/job/db-data-export/list": {
      "get": {
        "tags": [
          "job"
        ],
        "summary": "List DB Data Export jobs",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DbDataExportJobList"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/job/db-data-export/{jobKey}": {
      "get": {
        "tags": [
          "job"
        ],
        "summary": "Get job information for a DB Data Export job",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "jobKey",
            "in": "path",
            "description": "Key of target job",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DbDataExportJob"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storages/db-connection-strings": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get the connection information for all SQL storage items",
        "description": "",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StoragesDBConnectionStrings"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/connection-string": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get the connection information for a SQL storage item",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/StorageSqlConnection"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/db-objects": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get database objects (stats, tables, and views) for a SQL storage item",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "type",
            "in": "query",
            "description": "Type of database object to return",
            "required": false,
            "type": "string",
            "enum": [
              "stats",
              "tables",
              "views"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetDbObjects"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/schema": {
      "get": {
        "tags": [
          "storage"
        ],
        "summary": "Get database schema (tables and views) for a SQL storage item",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "schema",
            "in": "query",
            "description": "Name of the database schema. (Blank or missing for all schemas)",
            "required": false,
            "type": "string"
          },
          {
            "name": "table",
            "in": "query",
            "description": "Name of the database table. (Blank or missing for all tables)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetSchema"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-tables": {
      "get": {
        "tags": [
          "storage : custom tables"
        ],
        "summary": "Get custom tables",
        "description": "Retrieve a list of all customtables in a database.",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCustomTables"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-table": {
      "post": {
        "tags": [
          "storage : custom tables"
        ],
        "summary": "Create a custom table.",
        "description": "Creates a custom table with an id column as its primary key.  Table will be created with lowercased letters.",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the table to create",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCustomTable"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "storage : custom tables"
        ],
        "summary": "Rename a custom table.",
        "description": "Renames a custom table.  Table will be renamed with lowercased letters.",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the table to rename",
            "required": true,
            "type": "string"
          },
          {
            "name": "newTableName",
            "in": "query",
            "description": "New name of the table",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateCustomTable"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "storage : custom tables"
        ],
        "summary": "Delete a custom table.",
        "description": "Deletes a custom table.",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the table to delete",
            "required": true,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCustomTable"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/customizations": {
      "get": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Get database schema (tables and views) for a SQL storage item",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "table",
            "in": "query",
            "description": "Name of the database table. (Blank or missing for all tables)",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCustomizations"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storages/db-column-types": {
      "get": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Get supported column data types",
        "description": "Retrieve a list of all supported column data types for the database.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetColumnDataTypes"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-column": {
      "post": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Create a new custom column in a database table",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the database table",
            "required": true,
            "type": "string"
          },
          {
            "name": "columnName",
            "in": "query",
            "description": "Name of the column to be created",
            "required": true,
            "type": "string"
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "Data type of the new column (numeric,integer,text,etc.)",
            "required": true,
            "type": "string"
          },
          {
            "name": "characterMaximumLength",
            "in": "query",
            "description": "Maximum length of characters for the new column. (Only required if actual data type is character based and not 'text')",
            "required": false,
            "type": "integer"
          },
          {
            "name": "isNullable",
            "in": "query",
            "description": "Whether the new column can be NULL",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "defaultValue",
            "in": "query",
            "description": "Default value for the new column",
            "required": false,
            "type": "string"
          },
          {
            "name": "isTableKeyColumn",
            "in": "query",
            "description": "Whether the column is a key column for the table",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "trueDataType",
            "in": "query",
            "description": "The actual(physical) storage type of the table in postgres. (Valid values: bit, bool, bytea, char, cidr, date, float4, float8, inet, integer, int2, int2vector, int4, int8, interval, json, jsonb, jsonpath, line, money, numeric, point, text, time, timestamp, timestamptz, timetz, uuid, varbit, varchar, xml)",
            "required": false,
            "type": "string"
          },
          {
            "name": "isRequired",
            "in": "query",
            "description": "Whether the column is required",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/CreateCustomColumn"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CustomColumnsResponseError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "get": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Get details of a single custom column in a database table",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the database table",
            "required": true,
            "type": "string"
          },
          {
            "name": "columnName",
            "in": "query",
            "description": "Name of the database column",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetCustomColumn"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CustomColumnsResponseError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Update a custom column",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the database table",
            "required": true,
            "type": "string"
          },
          {
            "name": "columnName",
            "in": "query",
            "description": "Name of the column to be updated",
            "required": true,
            "type": "string"
          },
          {
            "name": "newColumnName",
            "in": "query",
            "description": "New name for the column (if being renamed)",
            "required": false,
            "type": "string"
          },
          {
            "name": "dataType",
            "in": "query",
            "description": "Data type of the column. (Valid values: bit, bool, bytea, char, cidr, date, float4, float8, inet, integer, int2, int2vector, int4, int8, interval, json, jsonb, jsonpath, line, money, numeric, point, text, time, timestamp, timestamptz, timetz, uuid, varbit, varchar, xml)",
            "required": false,
            "type": "string"
          },
          {
            "name": "characterMaximumLength",
            "in": "query",
            "description": "Maximum length of characters for the column",
            "required": false,
            "type": "integer"
          },
          {
            "name": "isNullable",
            "in": "query",
            "description": "Whether the column can be NULL",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "defaultValue",
            "in": "query",
            "description": "Default value for the column",
            "required": false,
            "type": "string"
          },
          {
            "name": "isTableKeyColumn",
            "in": "query",
            "description": "Whether the column is a key column for the table",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "trueDataType",
            "in": "query",
            "description": "The true data type of the column",
            "required": false,
            "type": "string"
          },
          {
            "name": "isRequired",
            "in": "query",
            "description": "Whether the column is required",
            "required": false,
            "type": "boolean"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/UpdateCustomColumn"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CustomColumnsResponseError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "delete": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Delete a custom column",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the database table",
            "required": true,
            "type": "string"
          },
          {
            "name": "columnName",
            "in": "query",
            "description": "Name of the database column",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/DeleteCustomColumn"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CustomColumnsResponseError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-columns": {
      "get": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Get all custom columns for a table",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          },
          {
            "name": "tableName",
            "in": "query",
            "description": "Name of the database table",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/GetAllCustomColumns"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/CustomColumnsResponseError"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-columns/validate": {
      "get": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Validate custom columns",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ValidateCustomColumns"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/custom-columns/repair": {
      "post": {
        "tags": [
          "storage : custom columns"
        ],
        "summary": "Repair custom columns",
        "description": "",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "description": "Name of the target storage device",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/RepairCustomColumns"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/labels": {
      "delete": {
        "tags": [
          "storage : labels"
        ],
        "summary": "Remove custom key/value pars of labels. (Pass a list of string keys to remove. i.e.: ?labels=[\"key1\",\"key2\",\"key3\"])",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "required": true,
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "tags": {
                  "type": "any",
                  "example": {
                    "key1": "test",
                    "key2": false,
                    "key3": 4
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "get": {
        "tags": [
          "storage : labels"
        ],
        "summary": "Get labels",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "tags": {
                  "type": "any",
                  "example": {
                    "key1": "test",
                    "key2": false,
                    "key3": 4
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "post": {
        "tags": [
          "storage : labels"
        ],
        "summary": "Add labels",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "required": true,
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "tags": {
                  "type": "any",
                  "example": {
                    "key1": "test",
                    "key2": false,
                    "key3": 4
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      },
      "put": {
        "tags": [
          "storage : labels"
        ],
        "summary": "Replace labels",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "labels",
            "in": "query",
            "required": true,
            "type": "object"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "tags": {
                  "type": "any",
                  "example": {
                    "key1": "test",
                    "key2": false,
                    "key3": 4
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
          "404": {
            "description": "Resource Not Found",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          }
        },
        "security": [
          {
            "APIKeyHeader": []
          }
        ]
      }
    },
    "/storage/{storageName}/tags": {
      "delete": {
        "tags": [
          "storage : tags"
        ],
        "summary": "Remove tags",
        "parameters": [
          {
            "name": "storageName",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "tags",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "schema": {
              "type": "object",
              "properties": {
                "result": {
                  "type": "string",
                  "example": "success"
                },
                "tags": {
                  "type": "string",
                  "example": "tag1,tag2,tag3"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "401": {
            "description": "Unauthorized",
            "schema": {
              "$ref": "#/definitions/Error"
            }
          },
          "403": {
            "description": "Forbidden",
            "schema": {
              "$ref": "#/definitions/Forbidden"
            }
          },
[...]
